.searchBar-container {
  position: fixed;
  width: 100%;
  height: 5%;
  padding: 1vw;
  display: flex;
  background-color: rgb(124, 156, 93);
  box-shadow: 0 0 3px 3px rgb(65, 82, 48);
}
.search-container {
  position: relative;
  height: 80%;
  display: inline-block;
  margin-right: 2%;
}

.text-container {
  position: relative;
  height: 80%;
  margin-right: 2%;
}

.colors-form-container {
  position: relative;
  height: 80%;
  margin-right: 2%;
  width: 10%;
}

.type-form-container {
  position: relative;
  height: 80%;
  margin-right: 2%;
  width: 10%;
}

.cmc-container {
  position: relative;
  height: 80%;
  margin-right: 2%;
  width: 7%;
}

.power-container {
  position: relative;
  height: 80%;
  margin-right: 2%;
  width: 7%;
}

.tough-container {
  position: relative;
  height: 80%;
  margin-right: 2%;
  width: 10%;
}

.legal-form-container {
  position: relative;
  height: 80%;
  margin-right: 2%;
  width: 4%;
}

.button-container {
  position: relative;
  height: 80%;
  margin-right: 2%;
  width: 4%;
}

.title-container{
  margin-right: 4%;
  margin-left: .5%;
  margin-top: -.6vw;
  cursor: pointer;
}

.title{
  color: white;
  font-family: fantasy;
  font-size: 1vw;
}